# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated data
data/raw/*.csv
data/processed/*.csv

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
